[submodule "blog-theme"]
	path = blog-theme
	url = git://github.com/crazygit/blog-theme.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "pelican-themes-tuxlite-tbs-mine"]
	path = pelican-themes-tuxlite-tbs-mine
	url = https://github.com/crazygit/pelican-themes-tuxlite-tbs-mine.git
